<div class="row">
 <div class="col-md-10">
  <div class="form-group">
   <label for="users">User:</label>
   <div id="users"></div>
  </div>
  <div class="form-group">
   <label for="books">Book:</label>
   <div id="books"></div>
  </div>
  <input type="submit" class="btn btn-primary" value="Attach!">
 </div>
</div>