<td><%- id %></td>
<td><%- title %></td>
<td><%- author %></td>
<td><%- year %></td>
<td><%- genre %></td>
<td>
 <a class="btn btn-small btn-success" href="#books/<%- id %>">Details</a>
 <a class="btn btn-small btn-success" href="#books/<%- id %>/edit">Edit</a>
 <a class="btn btn-small btn-success" href="#books/<%- id %>/delete">Delete</a>
</td>